@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
p{
    font-family: 'Poppins', sans-serif;
}
i{
    margin-right: 0.5rem;
}
.mission-wrapper{
    padding-top: 1rem;
    margin-bottom: 3rem;
}
.header-content{
    font-family: 'Dela Gothic One', cursive;
    font-size: 3rem;
    margin-bottom: 2rem;
    padding-top: 1.2rem;
}
.header-content.mission-title{
    text-align: center;
}
.p-centered{
    color: rgb(124, 124, 124);
    font-weight: 600;
    font-size: 0.9rem;
}
.p-centered.mission{
    text-align: center;
}
.vision-wrapper{
    height: 370px;
    background: url(../image/orn2.png);
    background-position: right;
    background-size: cover;
    padding-top: 1.5rem;
}
.header-content.vision-title{
    color: white;
    padding-left: 3rem;
}
.p-centered.vision{
    color: white;
    padding-left: 3rem;
}
.header-content.far-title{
    padding-top: 2.5rem;
    text-align: center;
    padding-left: 2.5rem;
}
.headings-container{
    padding-right: 1rem;
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}
.stat-container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}
.far-wrapper{
    margin-bottom: 8rem;
}
.header-content.mission-title, .header-content.vision-title, .p-centered.mission, .p-centered.vision{
    will-change: transform;
}
@media (max-width: 768px){
    .header-content{
        font-size: 1rem;
    }
    .p-centered{
        font-size: 0.8rem;
    }
    .p-centered.vision{
        padding-left: 0;
    }
    .p-centered.mission, .p-centered.vision{
        text-align: left;
        padding-left: 1rem;
    }
    .vision-wrapper{
        background-image: none;
        background-color: #3F6AFF;
        margin-bottom: 1rem;
    }
    .header-content.vision-title{
        padding-left: 0rem;
        text-align: center;
    }
    .header-content.far-title{
        padding: 0;
    }
    .headings-container{
        flex-direction: column;
        justify-content: center;
        padding: 0;
        text-align: center;
    }
    .stat-container h1{
        font-size: 2rem;
    }
    
}